.messageWrap {
  display: flex;
  width: 500px;

  .ava {
    width: 50px;
    height: 50px;
    margin: 10px 5px 10px 10px;
    align-self: flex-end;
    object-fit: cover;
    border-radius: 50%;
  }

  .angle {
    width: 15px;
    height: 15px;
    margin-bottom: 10px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, darken(#CCCC99, 10%) 0);
    align-self: flex-end;
  }

  .contentWrap {
    display: flex;
    max-width: 80%;
    margin: 10px 10px 10px 0;
    padding: 5px 5px 5px 10px;
    background-color: darken(#CCCC99, 10%);
    border-radius: 10px 10px 10px 0;

    .textWrap {
      .name {
        font-weight: bolder;
        font-size: 17px;
      }

      .message {
        word-wrap: break-word;
      }

    }
    .time {
      align-self: flex-end;
      margin-left: 5px;
      color: #999999;
    }
  }
}